* {
  margin:0;
  padding:0;
}
.container {
  margin:0 auto;
  max-width: 72em;
}
#color, #centered {
  padding: 1em;
  background: #fff;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
#color .nanobar, #centered .nanobar {
  margin-bottom: 2em;
}

#color .nanobar .bar {
  background: #38f;
  border-radius: 4px;
  box-shadow: 0 0 10px #59d;
  height: 6px;
  margin: 0 auto;
}
#centered .nanobar .bar {
  background: url('../node_modules/nanobar/demos/img/rainbow.gif') 100%;
  height: 9px;
}